<%- include('includes/head', { pageTitle: 'an error occured!'}) %>

</head>
<body>

<%- include('includes/header') %>

<main>
    <h1>Not Authenticated!</h1>
    <p>You're not Authenticated.</p>
    <p><a class="btn" href="/login">Login</a></p>
    
</main>
<%- include('includes/footer') %>